! vim:fenc=utf-8:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:

! urvxt portions from... 
! https://bitbucket.org/jasonwryan/shiv/src/de0359fd0fd0f178d97ba4aff9a4432652fdfc5f/.Xresources?at=default



! Urxvt
!URxvt.buffered:                           true
URxvt.cursorColor:                        #5E468C
URxvt.cursorBlink:                        false
URxvt.geometry:                           80x22
URxvt.transparent:                        0
URxvt*urgentOnBell:                       true
URxvt.letterSpace:                        -2
URxvt.lineSpace:                          1
URxvt.internalBorder:                     4
URxvt.scrollBar_right:                    false
URxvt.scrollBar:                          false
URxvt.borderLess:                         false
URxvt*scrollTtyKeypress: false
!URxvt.altSendsEscape: true ! this is evil!
URxvt.iso14755: true
URxvt.iso14755_52: false

!Disable scrollback buffer since tmux
URxvt*saveLines: 0


! teh transparency stuff
!URxvt.inheritPixmap:                      false
!URxvt.tintColor:                          #080808
!URxvt.shading:                            0

! Font settings
Xft.autohint:                             0
Xft.lcdfilter:                            lcddefault
Xft.hintstyle:                            hintfull
Xft.hinting:                              1
Xft.antialias:                            1
Xft.rgba:                                 rgb
Xft.dpi:                                  92

! -- Fonts -- !

URxvt*font:                 xft:Cousine:pixelsize=13,xft:dejavu sans mono for powerline:pixelsize=12:hinting=0:autohint=1
URxvt*boldFont:             xft:Cousine:pixelsize=13:weight=200,xft:dejavu sans mono for powerline:pixelsize=12:hinting=0:autohint=1
! italics off, standout set correctly by tmux

!URxvt*font:                 xft:inconsolata\\-dz for powerline:style=dz:pixelsize=14,xft:Powerline Symbols:pixelsize=14
!URxvt*boldFont:             xft:inconsolata\\-dz for powerline:style=dz:weight=200:pixelsize=14
!URxvt*italicFont:           xft:inconsolata\\-dz for powerline:style=dz:slant=40:pixelsize=14

! --  Extensions -- !
URxvt.perl-ext-common:                 matcher,font-size
URxvt.urlLauncher: 						xdg-open
URxvt.matcher.pattern.1: 				\\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.keysym.C-M-S-Delete:    perl:matcher:last
URxvt.keysym.C-M-Delete:    perl:matcher:list
!URxvt.matcher.button: 						1
URxvt.keysym.C-M-Up:     perl:font-size:increase
URxvt.keysym.C-M-Down:   perl:font-size:decrease
URxvt.keysym.C-M-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-M-S-Down: perl:font-size:decglobal

! SSH askpass
! https://wiki.archlinux.org/index.php/SSH_Keys#Calling_x11-ssh-askpass_with_ssh-add 
*askpass*background: #000000

! -- Colours -- !
#include ".config/colours/euphrasiameetsmiro"
!#include ".config/colours/euphrasia2"
