# Package generated configuration file
# See the sshd_config(5) manpage for details
# http://www.rackaid.com/blog/how-to-harden-or-secure-ssh-for-improved-security/

Protocol 2
Port 22
#ListenAddress ::
#ListenAddress 0.0.0.0

# Crypto
HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key # generate me
KeyRegenerationInterval 3600
ServerKeyBits 4098
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256 
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com
Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,chacha20-poly1305@openssh.com

# SFTP
Subsystem sftp /usr/lib/openssh/sftp-server

# Logging
SyslogFacility AUTH
LogLevel INFO

# Core Security
StrictModes yes
PermitRootLogin no
PermitEmptyPasswords no
PermitTunnel  yes
PermitUserEnvironment no
UsePrivilegeSeparation yes
UsePAM yes
UseDNS  no
UseLogin no
LoginGraceTime 15
MaxAuthTries 3
X11Forwarding yes
X11DisplayOffset 10
TCPKeepAlive yes

# Authentication
ChallengeResponseAuthentication no
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile	%h/.ssh/authorized_keys
HostbasedAuthentication no
IgnoreRhosts yes

# Authetnication: Protocol 1 Auth
# (redundant deny)
RSAAuthentication no
RhostsRSAAuthentication no

# Authentication: Kerberos
#KerberosAuthentication no
#KerberosGetAFSToken no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes

# Authetnication: GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes


# TODO: If more than 2 authorized users, increase these.
# MaxStartups start:rate/100:full
MaxStartups 10:40:12
MaxSessions 100

# Banners!
#PrintMotd yes
#Banner /etc/issue.net
DebianBanner yes
PrintMotd no
PrintLastLog yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

##############################################################################
# USER ACCESS CONTROL PERMISSIONS

#DenyGroups clients
DenyUsers root
AllowGroups sshusers
